<?xml version="1.0" encoding="utf-8" ?>
<uexplugins>
    <plugin name="uexDownloaderMgr">
        <method name="createDownloader"></method>
		<method name="download"></method>
        <method name="closeDownloader"></method>
        <method name="getInfo"></method>
        <method name="clearTask"></method>
        <method name="setHeaders"></method>
	</plugin>
</uexplugins>
